{% extends 'base.html.twig' %}

{% block title %}Arrondissement{% endblock %}

{% block body %}
    <h1>Arrondissement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ arrondissement.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ arrondissement.nom }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ arrondissement.createdAt ? arrondissement.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ arrondissement.updatedAt ? arrondissement.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('arrondissement_index') }}">back to list</a>

    <a href="{{ path('arrondissement_edit', {'id': arrondissement.id}) }}">edit</a>

    {{ include('arrondissement/_delete_form.html.twig') }}
{% endblock %}
