{% extends 'front_base.html.twig' %}

{% block title %}Remontée des votes - Présidentielles 2021{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="col-12 mt-3 bg-white p-3 border-white border header-card">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="col-12 mt-3 bg-white p-3 border-white border description-card">
                <h1 class="h3">Remontée des votes - Présidentielles 2021</h1>
                <p>
                    Plateforme de remontée de données de vote pour le scrutin du 11 Avril 2021.
                </p>
                <p>
                    <span class="text-danger">* Tous les champs sont obligatoires.</span>
                </p>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            {% include 'components/flash_messages.html.twig' %}
        </div>
    </div>
    {{ form_start(form) }}
    <div class="row">
        <div class="col-12">
            <div class="col-12 bg-white p-3 pb-4 border-white border border-radius-10">
                {{ form_row(form.nomMandataire) }}
                <div class="form-group mt-3">
                    <label class="" for="remontee_prenomsMandataire">{{ form_label(form.telephoneMandataire) }}</label>
                    {{ form_widget(form.telephoneMandataire) }}
                </div>
            </div>
            <div class="col-12 mt-3 bg-white p-3 pb-4 border-white border border-radius-10">
                <div class="col-12 d-none">
                    {{ form_row(form.departement) }}
                </div>
                <div class="form-group">
                    <label class="" for="remontee_arrondissement">Arrondissement</label>
                    <select id="remontee_arrondissement" name="remontee[arrondissement]" class="form-select form-control" disabled="disabled">
                        <option value="{{ arrondissement.id }}" selected>{{ arrondissement.nom }}</option>
                    </select>
                </div>
            </div>
            <div class="col-12 mt-3 bg-white p-3 pb-4 border-white border border-radius-10">
                <div class="col-12">
                    {{ form_row(form.nbVotants) }}
                </div>
                <div class="col-12 mt-3">
                    {{ form_row(form.nbVoixRlc) }}
                </div>
                <div class="col-12 mt-3">
                    {{ form_row(form.nbVoixFcbe) }}
                </div>
                <div class="col-12 mt-3">
                    {{ form_row(form.nbVoixDuoTT) }}
                </div>
                <div class="col-12 mt-3">
                    {{ form_row(form.nbNuls) }}
                </div>
                <div class="col-12 mt-3">
                    {{ form_row(form.observations) }}
                </div>
            </div>
            <div class="col-12 mt-3 mb-5">
                <div class="d-inline-block">
                    <button type="submit" class="btn btn-primary">Valider</button>
                </div>
                <div class="mx-3 d-inline-block">
                    <a href="{{ path('update_resultat_start') }}" class="">Retour</a>
                </div>
            </div>
        </div>
    </div>

    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}

