{% extends 'base.html.twig' %}

{% block title %}Resultat index{% endblock %}

{% block body %}
    <h1>Resultat index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Arrondissement</th>
                <th>NomMandataire</th>
                <th>PrenomsMandataire</th>
                <th>TelephoneMandataire</th>
                <th>NbVotants</th>
                <th>NbVoixRlc</th>
                <th>NbVoixFcbe</th>
                <th>NbVoixDuoTT</th>
                <th>NbNuls</th>
                <th>Observations</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for resultat in resultats %}
            <tr>
                <td>{{ resultat.id }}</td>
                <td>{{ resultat.arrondissement.nom }}</td>
                <td>{{ resultat.nomMandataire }}</td>
                <td>{{ resultat.prenomsMandataire }}</td>
                <td>{{ resultat.telephoneMandataire }}</td>
                <td>{{ resultat.nbVotants }}</td>
                <td>{{ resultat.nbVoixRlc }}</td>
                <td>{{ resultat.nbVoixFcbe }}</td>
                <td>{{ resultat.nbVoixDuoTT }}</td>
                <td>{{ resultat.nbNuls }}</td>
                <td>{{ resultat.observations }}</td>
                <td>{{ resultat.createdAt ? resultat.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ resultat.updatedAt ? resultat.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('resultat_show', {'id': resultat.id}) }}">show</a>
                    <a href="{{ path('resultat_edit', {'id': resultat.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('resultat_new') }}">Create new</a>
{% endblock %}
