<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            {% if is_granted('ROLE_USER') %}
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ path('dashboard') }}">
                    <span class="bi-grid-fill"></span>
                    Tableau de bord
                </a>
            </li>
            {% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('departement_index') }}">
                    <span class="bi-lock-fill"></span>
                    Départements
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('commune_index') }}">
                    <span class="bi-lock-fill"></span>
                    Communes
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('arrondissement_index') }}">
                    <span class="bi-lock-fill"></span>
                    Arrondissements
                </a>
            </li>
            {% endif %}
            {% if is_granted('ROLE_USER') %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('resultat_index') }}">
                    <span class="bi-lock-fill"></span>
                    Remontée des résultats
                </a>
            </li>
            {% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('utilisateur_index') }}">
                    <span class="bi-person-fill"></span>
                    Utilisateurs
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
    <div class="m-auto text-center mb-5 bottom-0 position-absolute">
        <img src="/program.jpg" width="60%" height=""  alt="portrait"/>
    </div>
</nav>
